name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
        cache: "pip"
        
    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          xvfb \
          libegl1 \
          libopengl0 \
          libxkbcommon-x11-0 \
          libdbus-1-3 \
          libxcb-cursor0 \
          libxcb-icccm4 \
          libxcb-keysyms1 \
          libxcb-shape0
          
    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .  # Installs dependencies from pyproject.toml
        pip install pytest pytest-xvfb
        
    - name: Run Tests
      # We use xvfb-run to provide a fake display for PyQt6 tests
      run: |
        xvfb-run -a pytest
